
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
<h1> This is the AboutUs page of our application the book store.</h1>
</body>
</html>
